<div class="cards-component default-page">

  <h3 class="default-page__title">
    Exemplo prático
  </h3>

  <div class="cards-list default-grid">
    <div class="col-3">

      <p class="cards-list__card-type">.card</p>

      <div class="card">
        <div class="card__title">.card__title</div>
        <img src="/assets/images/pets-1.png" alt="" class="card__image">
        <div class="card__text">.card__description <br> (Lorem ipsum dolor sit amet consectetur adipisicing elit.)</div>
        <div class="card__actions">
          <button class="btn">.btn</button>
        </div>
      </div>
    </div>
    <div class="col-3">

      <p class="cards-list__card-type">.card.card--info</p>

      <div class="card card--info">
        <div class="card__title">.card__title</div>
        <img src="/assets/images/pets-2.png" alt="" class="card__image">
        <div class="card__text">.card__description <br> (Lorem ipsum dolor sit amet consectetur adipisicing elit.)</div>
        <div class="card__actions">
          <button class="btn btn--info">.btn.btn--info</button>
        </div>
      </div>
    </div>
    <div class="col-3">

      <p class="cards-list__card-type">.card.card--success</p>

      <div class="card card--success">
        <div class="card__title">.card__title</div>
        <img src="/assets/images/pets-3.png" alt="" class="card__image">
        <div class="card__text">.card__description <br> (Lorem ipsum dolor sit amet consectetur adipisicing elit.)</div>
        <div class="card__actions">
          <button class="btn btn--success">.btn.btn--success</button>
        </div>
      </div>
    </div>
    <div class="col-3">

      <p class="cards-list__card-type">.card.card-danger</p>

      <div class="card card--danger">
        <div class="card__title">.card__title</div>
        <img src="/assets/images/pets-4.png" alt="" class="card__image">
        <div class="card__text">.card__description <br> (Lorem ipsum dolor sit amet consectetur adipisicing elit.)</div>
        <div class="card__actions">
          <button class="btn btn--danger">.btn.btn--danger</button>
        </div>
      </div>
    </div>
  </div>
</div>
